6. Consider any sales training/ weather forecasting dataset

In [44]:
import numpy as np
import pandas as pd

In [45]:
# Sample sales training dataset
data = {
    'Date': pd.date_range('2022-01-01', '2022-01-10'),
    'Region': ['North', 'South', 'North', 'South', 'North', 'South', 'North', 'South', 'North', 'South'],
    'Sales': [100, 150, np.nan, 120, 130, np.nan, 90, 110, 140, np.nan]
}

df = pd.DataFrame(data)
df

        Date Region  Sales
0 2022-01-01  North  100.0
1 2022-01-02  South  150.0
2 2022-01-03  North    NaN
3 2022-01-04  South  120.0
4 2022-01-05  North  130.0
5 2022-01-06  South    NaN
6 2022-01-07  North   90.0
7 2022-01-08  South  110.0
8 2022-01-09  North  140.0
9 2022-01-10  South    NaN

a. Compute mean of a series grouped by another series

In [46]:
mean_sales_by_region = df.groupby('Region')['Sales'].mean()
print("Mean Sales by Region:")
print(mean_sales_by_region)

Mean Sales by Region:
Region
North    115.000000
South    126.666667
Name: Sales, dtype: float64

b. Fill an intermittent time series to replace all missing dates with values of previous non-missing date.

In [47]:
df = df.set_index('Date')
df = df.resample('D').ffill()
print("\nDataFrame after filling missing dates:")
print(df)

DataFrame after filling missing dates:
           Region  Sales
Date
2022-01-01  North  100.0
2022-01-02  South  150.0
2022-01-03  North    NaN
2022-01-04  South  120.0
2022-01-05  North  130.0
2022-01-06  South    NaN
2022-01-07  North   90.0
2022-01-08  South  110.0
2022-01-09  North  140.0
2022-01-10  South    NaN

c. Perform appropriate year-month string to dates conversion.

In [48]:
df['YearMonth'] = df.index.to_period('M').astype(str)
print("Year-Month String to Dates Conversion:")
print(df)

Year-Month String to Dates Conversion:
           Region  Sales YearMonth
Date
2022-01-01  North  100.0   2022-01
2022-01-02  South  150.0   2022-01
2022-01-03  North    NaN   2022-01
2022-01-04  South  120.0   2022-01
2022-01-05  North  130.0   2022-01
2022-01-06  South    NaN   2022-01
2022-01-07  North   90.0   2022-01
2022-01-08  South  110.0   2022-01
2022-01-09  North  140.0   2022-01
2022-01-10  South    NaN   2022-01

d. Split a dataset to group by two columns and then sort the aggregated results within the groups.

In [49]:
sorted_sales_by_region = df.groupby(['Region', 'YearMonth']).mean().sort_values(by='Sales')
print("Sorted Aggregated Results within Groups:")
print(sorted_sales_by_region)

Sorted Aggregated Results within Groups:
                       Sales
Region YearMonth
North  2022-01    115.000000
South  2022-01    126.666667

e. Split a given dataframe into groups with bin counts.

In [53]:
bins = [0, 100, 150, np.inf]
bin_labels = ['Low', 'Medium', 'High']
df['SalesCategory'] = pd.cut(df['Sales'], bins=bins, labels=bin_labels)
sales_category_counts = df.groupby('SalesCategory').size()
print("Sales Category Counts:")
print(sales_category_counts)

Sales Category Counts:
SalesCategory
Low       2
Medium    5
High      0
dtype: int64

C:\Users\Gupta_ji\AppData\Local\Temp\ipykernel_6472\1412153798.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sales_category_counts = df.groupby('SalesCategory').size()